#sidebar {width: 200px; float: left; margin: 20px 0 15px 15px; font-size: 1em; line-height: 1.3em;}
#sidebar p, #sidebar ul, #sidebar ol {margin: 0 0 15px 0; padding: 0;}
#sidebar p.block {background-color: #eee; font-size: 0.9em; line-height: 1.3em; margin: 10px auto 20px auto; padding: 10px; color: #555;}
#sidebar ul li, #sidebar ol li {list-style: none; padding:0; margin: 0 0 5px 0; padding: 0;}
#sidebar ul.links li a {display: block; width: 190px; margin: 0 0 5px 0; padding: 10px 0 10px 10px;font-weight: 400; text-align: left; background-color:#d6e6cc; color: #0000ff; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;}
#sidebar ul.links li a:hover {background-color: #f4f4f4; color: #222; text-decoration: none;}
#sidebar ul.outerlinks li a {font-size: 14px;}