.code {background-color: #d7d7d7; font-family: monospace; font-size: 10pt; padding: 1px 5px 1px 5px; white-space: nowrap; margin: 0 3px;}
.codes {background-color: #d7d7d7; font-family: monospace; font-size: 10pt; padding: 1px 5px 1px 5px; }
code{background-color: #d7d7d7; font-family: monospace; font-size: 10pt; padding: 1px 5px 1px 5px; white-space: nowrap; margin: 0 3px;}
strong.very {font-style: italic; font-size: large;}
